@import "tailwindcss";

@theme {
  --color-brand-orange: #f97316;
  --color-brand-orange-light: #fdba74;
  --color-brand-white: #ffffff;
  --color-brand-gray-50: #f9fafb;
  --color-brand-gray-100: #f3f4f6;
  --color-brand-gray-800: #1f2937;
}

body {
  background-color: var(--color-brand-gray-50);
  color: var(--color-brand-gray-800);
}
